// section settings
.section-heady {
	display: block;
	height: 24px;
	width: 100%;
	padding: 0;
	margin: 0;
	background: url(../img/s.png) no-repeat left top;
}

.story-heady {
	margin: 23px 0 14px;
	background-position: 127px -232px;
}