// Site variables

// dimensions
$site-width:   1000px;
$header-width: 900px;
$main-body-width: $header-width;
$footer-width: $header-width;

// colors
$color-main-gray: rgb(129, 130, 133);
$color-alt-black: rgb(40,41, 41);
$color-hours:     rgb(53, 52, 53);
$color-location:  rgb(242, 113, 36);
$color-news:      rgb(137, 161, 100);

// fonts 
$font-family-main: "ff-basic-gothic-web-pro", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}

body {
	padding-bottom: 3em;
	font-family: $font-family-main;
	background: #000 url(../img/main_bg.png) repeat left top;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-main;
}

a {
	text-decoration: none;
}